.login-form {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 20px 0;
}

button {
    margin: 0 auto;
    cursor: pointer;
}

form input,
button {
    background-color: #333366;
    color: #eeeeee;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

form input:focus,
button:hover {
    background-color: #444488;
}

button[disabled] {
    cursor: not-allowed;
    background-color: #666666;
}

.error {
    color: #ff0000;
    font-size: 0.8rem;
    text-align: center;
}

a {
    color: #eeeeee;
    text-decoration: none;
}
