.login-form {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 20px 0;
}

button {
    margin: 0 auto;
}

button[disabled] {
    cursor: not-allowed;
    background-color: hsl(0, 0%, 16%);
}

.error {
    color: #ff0000;
    font-size: 0.8rem;
    text-align: center;
}

a {
    color: #eeeeee;
    text-decoration: none;
}
