.back {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #eeeeee;
    transition: background 0.3s;
}

.container {
    justify-content: flex-start;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 20px 0;
}

form>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.error {
    color: #ff0000;
    font-size: 0.8rem;
    text-align: center;
}
